# Server configuration
PORT=8084

# PostgreSQL configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=yehia
POSTGRES_DB=circleConnect

# MongoDB configuration
MONGO_URI=mongodb://localhost:27017
MONGO_DB=circleconnect_search

# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Security
JWT_SECRET_KEY=your_jwt_secret_key
SERVICE_API_KEY=your_service_api_key 